<p>Hi,</p>
<p>Please find the link below to to update hps area.</p>
<p>
    <a href='https://highpiler-dev.techpss.com/hpsinvitation?project_id=<%=project_id%>&token=<%=token%>'>https://highpiler-dev.techpss.com/hpsinvitation?project_id=<%=project_id%>&token=<%=token%></a>
</p> 
<p>
    verification code : <%=code%>
</p>  