<p>Hi,</p>
<p>Please find the link below to register in the Highpiler system as a Project admin user for <%=agency_name%>.</p>
<p>
    <a href='<%=frontend_url%>/invitation?token=<%=token%>'><%=frontend_url%>/invitation?token=<%=token%></a>
</p>  
<p>Thanks, <%=agency_name%></p> 